<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <nav>

            <!-- Title -->
            <div class="title">
                <p>Freshly</p>
            </div>

            <!-- Links -->
            <div class="links">
                <ul id="menu-list">
                    <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
                    <li><a href="/features" class="{% if request.path == '/features/' %}active{% endif %}">Features</a></li>
                    <li><a href="/about" class="{% if request.path == '/about/' %}active{% endif %}">About</a></li>
                    <li><a href="/contact" class="{% if request.path == '/contact/' %}active{% endif %}">Contact</a></li>
                </ul>

            </div>

            <!-- Button -->
            <div class="auth-btn">
                <button>Login</button>
            </div>

            <!-- Menu-Icon -->
            <div class="menu-icon" id="menu-icon" onclick="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>
    {% block body %}{% endblock body %}
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>